\.venv
Input_Pdf/
\ocr_env
\Output
\Output_Sample
\testing_pdfs
debug.log
DraftList_Ward_28_KDMC.xlsx
DraftList_Ward_29_KDMC.xlsx
addition.xlsx
english duplicate.py
Records.xlsx
A_M_D_Extracter.py
Insert_excel_to_sql.py
\Marathi_Vidhansabha_OCR
List_No_185.pdf
\saved_cards
\__pycache__
checkpoint.json
Marathi_Vidhansabha_OCR/Fixed_Box_Co_OCR.py
Marathi_Vidhansabha_OCR/Output/MotherRollList_139_Part_42.xlsx
Marathi_Vidhansabha_OCR/Output/MotherRollList_139_Part_43.xlsx
Mar_Coorperation_OCR/Marathi_Fixed_OCR.py
Mar_Coorperation_OCR/Output_Sample/
Corporation_wise_prefix.xlsx
Mar_Coorperation_OCR/insert.py
cards_output/
debug_full_page_1.png
debug_table_region_1.png
extracted_marathi_text_combined.txt
extracted_table_clean_combined.xlsx
output_ac140.xlsx
table_output/
extracted_table_clean_combined.xlsx
Mar_Coorperation_OCR/DraftList_Ward_8_PUNE.pdf
Marathi_Vidhansabha_OCR/140_vidhansabha_Output/
Marathi_Vidhansabha_OCR/MotherRollList_140_Part_81.pdf
Marathi_Vidhansabha_OCR/MotherRollList_140_Part_82.pdf
Marathi_Vidhansabha_OCR/MotherRollList_140_Part_83.pdf
Marathi_Vidhansabha_OCR/MotherRollList_140_Part_98.pdf
Marathi_Vidhansabha_OCR/MotherRollList_140_Part_99.pdf
Marathi_Vidhansabha_OCR/OCR.py
Marathi_Vidhansabha_OCR/Output/
Master_Records_OCR/Badlapur_Master_Record.xlsx
Master_Records_OCR/extracted_text_combined.txt
Thumbs.db
AMC_text_combined.txt